#red{
    height: 200px;
    width: 200px;
    background-color: red;
}

#blue{
    height: 200px;
    width: 200px;
    background-color: blue;
}

#yellow{
    height: 200px;
    width: 200px;
    background-color: yellow;
}

#green{
    height: 200px;
    width: 200px;
    background-color: green;
}

.row{
    margin-top: 60px;
}