#red{
    background-color: red;
}

#blue{
    background-color: blue;
    
}

#yellow{
    background-color: yellow;
    
}

#green{
    background-color: green;
}

.row{
    margin-top: 60px;
    background-color: #444545;
    padding: 30px;
    border-radius: 25px;
}

.start{
    margin-top: 30px;
    margin-bottom: 30px;
}

.round{
    font-size: 20px;
}

.piece {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    border-style: solid;
    border-color: #444545;
    border-width: 15px;

}