header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

h1{
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: space-between;
}

#red{
    height: 250px;
    width: 250px;
    background-color: red;
}

#blue{
    height: 250px;
    width: 250px;
    background-color: blue;
}

#yellow{
    height: 250px;
    width: 250px;
    background-color: yellow;
}

#green{
    height: 250px;
    width: 250px;
    background-color: green;
}